
<ion-header>

  <ion-navbar>
    <ion-title><span style="font-weight: 900;font-size: x-large">{{sender.name}}</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-grid>
  <ion-row *ngIf="showLoadOldMessagesButton">
    <ion-col col-70 offset-25 style="text-align: center;margin-top: 10px">
      <button ion-button
              small
              round
              color="white"><span style="color: #1A1A1A;font-weight: bolder;font-size: 10px">LOAD OLD MESSAGES</span></button>
    </ion-col>
  </ion-row>

  <div *ngIf="threadHasMessages">
    <ion-row *ngFor="let message of (thread.json_body.messages | slice:thread.json_body.messages.length - 6)" style="margin-top: 5px;margin-bottom: 5px">
      <ion-col *ngIf="!message.isMessageFromCurrentUser" col-85 offset-2 >
        <div class="chatBubbleFrom">
          <span style="word-wrap: break-word">
            {{message.message_text}}
          </span>
        </div>
      </ion-col>
      <ion-col *ngIf="message.isMessageFromCurrentUser" col-85 offset-40>
        <div class="chatBubbleTo">
          <span style="word-wrap: break-word">
            {{message.message_text}}
          </span>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>

</ion-content>
<ion-footer>
  <form #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col col-15 style="text-align: center" align-self-center>
          <button>
            <ion-icon style="font-size: xx-large;font-weight: 900;color:darkred" name="add"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-90>
          <ion-item>
            <ion-input required ngModel name="messageBody" style="padding:5px 0 5px 10px;font-size:15px;background-color: #f0ecec;border-radius: 64px" type="text" placeholder="Write a message..."></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-15 text-center align-self-center>
          <button (click)="sendMessage(f)" [disabled]="!f.valid">
            <ion-icon style="font-size: xx-large;font-weight: 900;color:darkred" name="send"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-footer>
