<ion-header>
  <ion-navbar>
    <header-component></header-component>
  </ion-navbar>
</ion-header>

<ion-content text-center style="width:100%; height:100%">
  <ion-scroll scrollX="true" direction="x">
    <ion-grid>
      <ion-row>
        <ion-col>
          <button #button
                  *ngFor="let provider of providers; let i = index"
                  ion-button
                  outline
                  round
                  color="light"
                  small
                  [ngClass]="{pressedButtonStyle: button.pressed}"
                  (click)="onFilterButton(button,provider)"
                  >{{provider}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-scroll>
    <button ion-button
            style="margin-bottom: -50px;z-index: 10"
            round
            small
            color="redButton"
            (click)="find()"
            >Find</button>
  <button ion-button
          style="margin-bottom: -50px;z-index: 10"
          round
          small
          color="redButton"
          (click)="locateMe()"
  >Locate me &nbsp;&nbsp;&nbsp;<ion-icon name="locate"></ion-icon></button>

  <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>
  <div #map_canvas id="map_canvas">
  </div>
  <div *ngIf="showProviderDetails" >
  <ion-grid style="position:relative">
    <ion-row    style="margin-top: -200px">
      <ion-col col-30 offset-10 style="max-height: 100px;min-height: 100px">
        <img style="width: 100%;height: 100%" src="{{providerIcon}}">
      </ion-col>
      <ion-col col-70 style="background-color: #f0ecec">
        <ion-row>
          <ion-col offset-8 style="margin-top: 10px" text-start>
            <span style="font-size: small;font-weight: bold">{{selectedProviderToShowInDetails.name}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offset-8 text-start>
            <span style="font-size: x-small;">13.2km</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>
