<ion-menu [content]="nav">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menü</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item *ngIf="!isAuthenticated">
      <button ion-button
              clear
              (click)="onSignin()"
              icon-left>
        <ion-icon name="log-in"></ion-icon>Giriş Yap
      </button>
    </ion-item>
    <ion-item *ngIf="isAuthenticated">
      <button ion-button
              clear
              (click)="onLogout()"
              icon-left>
        <ion-icon name="log-out"></ion-icon>Çıkış
      </button>
    </ion-item>
    <ion-item *ngIf="isAuthenticated">
      <button ion-button
              clear
              (click) = "onSettings()"
              icon-left>
        <ion-icon name="settings"></ion-icon>Ayarlar
      </button>
    </ion-item>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #nav></ion-nav>
