<ion-header>
  <header-component></header-component>
</ion-header>

<ion-content>
  <div *ngFor="let chat of chats" >
    <ion-item *ngIf="chat.isCurrentUserSender" (click)="onChatPage(chat)">
      <ion-avatar item-start>
        <img src="{{chat.receiver_id.avatar_url}}">
      </ion-avatar>
      <h2>{{chat.receiver_id.name}} {{chat.receiver_id.surname}}</h2>
      <p>{{chat.lastMessage}}</p>
      <span style="font-size: x-small;color: #bfbfbf">Two hour ago</span>
    </ion-item>
    <ion-item *ngIf="!chat.isCurrentUserSender" (click)="onChatPage(chat)">
      <ion-avatar item-start>
        <img src="{{chat.sender_id.avatar_url}}">
      </ion-avatar>
      <h2>{{chat.sender_id.name}} {{chat.sender_id.surname}}</h2>
      <p>{{chat.lastMessage}}</p>
      <span style="font-size: x-small;color: #bfbfbf">Two hour ago</span>
    </ion-item>
  </div>

</ion-content>
