page-search {

  ion-item{
    background-color: #000000 !important;
  }
  ion-label{
    margin: 2px 0 2px 0 !important;
  }
  ion-searchbar{
    background-color: #000000 !important;
    padding: 0px !important;
    margin: 0px !important;

  }
  .scroll-content{
    background-color: #000000;
  }
}
