page-patient-sign-up {
  .scroll-content {

    background: url("../../assets/imgs/background-1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

  }

  .col{
    display: flex;
    align-items: center !important;
  }
  .inputBox{
    background-color: rgba(255, 255, 255, 0.3
    );

    border-radius: 64px;
    margin-top: 5px;
    color: white;

  }

  .toLogoUp {
    animation: toLogoUp .8s forwards;
  }

  .toLogoDown{
    animation: toLogoDown .8s forwards;
  }

  @keyframes toLogoUp {

    20% {
      transform: translateY(10px);

    }
    100% {
      transform: translateY(-200px);
      opacity: 0;
    }

  }

  @keyframes toLogoDown {

    20% {
      opacity: 0;
      transform: translateY(-200px);

    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }

  }
}
