page-provider {
/*
  .col{
    border: 1px solid black;
  }
  .row{
    border: 1px solid black;
  }*/

  .mapRowProvider{
    height: 150px;
    margin: 0;
  }
  .scroll-content{
    padding: 0 !important;
  }
  .providerFirstInfo{
    background-color: #FFFFFF;
  }
}
