
<ion-header>
  <header-component></header-component>
</ion-header>


<ion-content padding>
  <div #pleaseConnect id="please-connect">
    <p>Please connect to the Internet...</p>
  </div>
   <div #map_canvas id="map_canvas"></div>

    <ion-grid style="position: relative;">
      <ion-row  class="providerInfo" [ngClass]="expand ? 'providerInfoExpanded' : 'providerInfo'">
        <ion-col col-27 offset-12 style="margin-top: -50px;border-radius: 50%;max-height: max-content;border:5px solid white">
          <img style="height: 100%;width: 100%;border-radius: 50%" src="{{provider.user.avatar_url}}">
        </ion-col>
        <ion-col  style="max-height: max-content">
          <ion-row style="margin-top: 10px;color:#9f9e9e">
            <ion-col col-90 style="font-size: small">
              <span>Ankara Yenimahalle Turkey</span>
            </ion-col>
            <ion-col col-30 style="font-size: x-small">
              <span>12.4 km</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: large;font-weight: bolder">
              <span>{{provider.user.name}} {{provider.user.surname}}</span>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col col-25  style="margin-top: -26px;max-height: max-content">
          <button ion-button
                  clear
                  (click)="expandMap()">
            <ion-icon style="color:darkred" name="arrow-dropdown-circle"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-100 offset-38 style="font-size: x-small;padding:5px 0 10px 0">
            <span>{{provider.profession.name}}
              <ion-icon name="star" style="color:#44a6b8"></ion-icon> 4.3 out of 256 reviews</span>
        </ion-col>
        <ion-col col-100 offset-39 style="font-size: x-small;font-weight: bolder;padding:0 0 20px 0">
            <span style="color:#e08855">
              <ion-icon name="pulse" style="color:#292929"></ion-icon> Response Rate 4.3/5</span>
        </ion-col>
        <ion-col col-50 offset-10>
          <button color="light"
                  ion-button
                  outline
                  *ngIf="!ownProfile"
                  block
          ><span style="color:#252525;font-weight: bolder">Follow</span></button>
        </ion-col>
        <ion-col col-50 offset-1>
          <button color="light"
                  ion-button
                  *ngIf="!ownProfile"
                  block
                  outline
                  (click)="onChat()"
          ><span style="color:#252525;font-weight: bolder">Chat</span></button>
        </ion-col>
        <ion-col col-100 offset-10 class="multiline-ellipsis">
          <span>{{provider.description}}</span>
        </ion-col>
      </ion-row>
      <ion-row class="providerExperts">
        <ion-col col-100 offset-10>
          <button ion-button
                  color="redButton"
                  block
                  style="font-weight: bold;margin-top: 10px;margin-bottom: 10px"
          >Experts</button>
        </ion-col>
        <ion-row class="providerSecondInfo">
          <ion-item>
            <ion-icon style="margin-left: 15px" name="pin"><span class="infoTextClass">Ankaralılar Cad. Koru Sitesi no:52</span></ion-icon>
          </ion-item>
          <ion-item>
            <ion-icon style="margin-left: 15px" name="time"><span class="infoTextClass">12pm-12am</span></ion-icon>
          </ion-item>
          <ion-item>
            <ion-icon style="margin-left: 15px" name="call"><span class="infoTextClass">0 532 793 20 84</span></ion-icon>
          </ion-item>
          <ion-item>
            <ion-icon style="margin-left: 15px" name="mail"><span class="infoTextClass">metinerkck@gmail.com</span></ion-icon>
          </ion-item>
        </ion-row>
        <ion-col col-100 offset-10>
          <button ion-button
                  color="light"
                  block
                  outline
                  style="font-weight: bold;margin-top: 10px;margin-bottom: 10px"
          ><span style="color:#949494;font-size: small">Announcements</span><ion-icon style="margin-left: 10px" name="arrow-round-forward"></ion-icon></button>
        </ion-col>
      </ion-row>
      <div style="background-color: #ffffff;padding-top: 10px">
        <ion-col col-5 offset-7>
          <span style="font-weight: bolder">Photos</span>
        </ion-col>
        <ion-col col-10 offset-50>
          <span style="font-size: small">18 Photos</span>
        </ion-col>
        <ion-col col-20 offset-1>
          <button style="padding:5px;color:#4f4f4f;border: 1px solid gray;font-weight: bold;font-size: x-small;order: 3"
                  ion-button
                  clear
                  outline
                  small
          >VIEW ALL</button>
        </ion-col>
        <ion-scroll scrollX="true" direction="x">
          <ion-row style="position: absolute">
            <ion-col style="margin-left: 8px">
              <ion-item>
                <ion-card>
                  <img style="width: 100%;height: 100%" src="http://via.placeholder.com/300x300">
                </ion-card>
                <ion-card>
                  <img style="width: 100%;height: 100%" src="http://via.placeholder.com/300x300">
                </ion-card>
                <ion-card>
                  <img style="width: 100%;height: 100%" src="http://via.placeholder.com/300x300">
                </ion-card>
                <ion-card>
                  <img style="width: 100%;height: 100%" src="http://via.placeholder.com/300x300">
                </ion-card>
                <ion-card>
                  <img style="width: 100%;height: 100%" src="http://via.placeholder.com/300x300">
                </ion-card>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-scroll>
      </div>
      <ion-row style="background-color: #FFFFFF;margin-top: 10px">
        <ion-col col-100 offset-10>
          <button ion-button
                  color="redButton"
                  block
                  *ngIf="!ownProfile"
                  (click)="writeReview()"
          >Write a review</button>
        </ion-col>
        <ion-col offset-10 style="margin-top: 4px">
          <span style="font-weight: bold;">{{provider.comment_count}} Recommendations</span>
        </ion-col>
      </ion-row>
      <ion-row style="background-color: #FFFFFF">
        <div *ngFor="let review of provider.comments; let i = index">
          <ion-item *ngIf="i<3" style="margin:10px 0 10px 13px">
            <ion-avatar item-start>
              <img src="{{review.user.avatar_url}}">
            </ion-avatar>
            <h2>{{review.user.name}} {{review.score}}
              <div *ngIf="review.score <=20">
                <ion-icon style="margin-left: 10px" name="star"></ion-icon>
                <ion-icon style="color: #bfbfbf;" name="star"></ion-icon>
                <ion-icon style="color: #bfbfbf;" name="star"></ion-icon>
                <ion-icon style="color: #bfbfbf;" name="star"></ion-icon>
                <ion-icon style="color: #bfbfbf;" name="star"></ion-icon>
              </div>
              <div *ngIf="review.score > 20 && review.score <= 40">
                <ion-icon style="margin-left: 10px" name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon style="color: #bfbfbf;" name="star"></ion-icon>
                <ion-icon style="color: #bfbfbf;" name="star"></ion-icon>
                <ion-icon style="color: #bfbfbf;" name="star"></ion-icon>
              </div>
              <div *ngIf="review.score > 40 && review.score <= 60">
                <ion-icon style="margin-left: 10px" name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon style="color: #bfbfbf;" name="star"></ion-icon>
                <ion-icon style="color: #bfbfbf;" name="star"></ion-icon>
              </div>
              <div *ngIf="review.score > 60 && review.score <= 80">
                <ion-icon style="margin-left: 10px" name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon style="color: #bfbfbf;" name="star"></ion-icon>
              </div>
              <div *ngIf="review.score > 80 && review.score <= 100">
                <ion-icon style="margin-left: 10px" name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
            </h2>
            <p>{{review.body}}</p>
          </ion-item>
        </div>
        <ion-col col-100 offset-10 *ngIf="provider.comment_count > 3">
          <button ion-button
                  block
                  outline
                  small
                  (click)="seeMoreReview()"
                  color="redButton">See More Reviews</button>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>
