page-signup {

  .scroll-content {

    background: url("../../assets/imgs/background-1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

  }
  .inputBox{
    background-color: rgba(255, 255, 255, 0.3
    );

    border-radius: 64px;
    margin-top: 5px;
    color: white;

  }
}
